
extends layout

block content
  nav.navbar
    .navbar-container
      .logo
        a(href="/")
          img(src="/data/uploads/vanessa.jpg", alt="Vanessa")
      
      .menu
        //- a(href="/") Home
        a(href="/kitchen/create") Add Recipe
        a(href="/kitchen/all-recipes") Recipes
        a(href="/recipes/groceryList") Grocery List
  .main-section 
  
  
  .notification
  link(rel="stylesheet", href="/stylesheets/recipes.css")
  
  script(src="/js/scripts.js")
  .recipe-page
    .cardContainer
      each recipe in recipes
        .cardContainer__body(data-aos="fade-up")
          .cardImage_box 
            img.cardImage(src=recipe.image, alt=recipe.title)
          .cardContent_box
            p.cardContent_box__title= recipe.title
          .cardBtn 
            a.cardBtn__link(href=`/recipes/bookmarks/${recipe._id}`)
              i.fa.fa-eye 
              |  Recipe
            a.cardBtn__link(href=`/recipes/deleted/${recipe._id}`)
              i.fa.fa-trash(style="color: red;") 
        

          