
extends layout

block content
  nav.navbar
    .navbar-container
      .logo
        img(src="/data/uploads/vanessa.jpg", alt="Vanessa")
     
      .menu
        a(href="/kitchen/all-recipes") Recipes
        a(href="/recipes/groceryList") Grocery List
  
  
  .notification
  link(rel="stylesheet", href="/stylesheets/recipes.css")
  
  script(src="/js/scripts.js")
  .recipe-page
    .cardContainer
      each recipe in recipes
        .cardContainer__body(data-aos="fade-up")
          .cardImage_box 
            img.cardImage(src=recipe.image, alt=recipe.title)
          .cardContent_box
            p.cardContent_box__title= recipe.title
          .cardBtn 
            a.cardBtn__link(href=`/recipes/bookmarks/${recipe._id}`) View Recipe
            a.cardBtn__link(href=`/recipes/deleted/${recipe._id}`) Delete Recipe
        

          