extends layout

block content
   nav.navbar
      .navbar-container
         .logo
            a(href="/")
               img(src="/data/uploads/vanessa.jpg", alt="Vanessa")
         .menu
            //- a(href="/") Home
            a(href="/kitchen/create") Add Recipe
            a(href="/recipes/bookmarks") Bookmarks
            a(href="/kitchen/all-recipes") Recipes
   
   link(rel="stylesheet", href="/stylesheets/grocery.css")
   
   .container
      .message-box
         h3= `You have ${totalRecipes} recipes planned for the week. Here is your grocery list:`
      ul#grocery-list
         each item, index in groceryList
            li 
               input(type="checkbox", class="grocery-checkbox")
               span.index #{index + 1}.
               span.details
                  span.ingredient #{item.ingredient}
                  span.quantity #{item.quantity} #{item.unit}
   
   script(src="/js/grocery.js")