extends layout

block content
  nav.navbar
    .logo

    .menu-icon
      i.fas.fa-bars
    .menu
      a(href="/kitchen/all-recipes") Get Recipes
      a(href="/kitchen/create") Add Recipe
      a(href="/recipes/bookmarks") Bookmarked
      a(href="/recipes/groceryList") Grocery List
  .main-section 
    h1.h1 Welcome to Recipe Finder
  
    form.formGroup(action="/kitchen/search", method="GET")
      input(type="text", name="search", placeholder="Search for recipes")
      button(type="submit") Search
  .notification
  link(rel="stylesheet", href="/node_modules/aos/dist/aos.css")
  script(src="/node_modules/aos/dist/aos.js")
  script(src="/js/scripts.js")
  .recipe-page
    .cardContainer
      each recipe in recipes
        .cardContainer__body(data-aos="fade-up")
          .cardImage_box 
            img.cardImage(src=recipe.image, alt=recipe.title)
          .cardContent_box
            p.cardContent_box__title= recipe.title
          .cardBtn 
            a.cardBtn__link(href=recipe.url) View Recipe
            a.cardBtn__link(href="#", data-id=recipe._id) Bookmark
  style.
    @font-face {
      font-family: "roboto";
      src: url("../fonts/Roboto-Regular.ttf");
    }
    body {
      font-family: 'roboto', sans-serif;
      background-color: #004658;
      margin: 0;
      padding: 0;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #343a40;
      padding: 1rem;
      margin-top: 2rem;
    }
    .navbar .logo {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .navbar .menu-icon {
      display: none;
      cursor: pointer;
    }
    .navbar .menu {
      display: flex;
      gap: 1rem;
    }
    .navbar .menu.open {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .navbar .menu a {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: background-color 0.3s;
      font-family: 'roboto', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .navbar .menu a:hover {
      background-color: #495057;
    }
    .main-section {
      text-align: center;
      padding: 2rem;
    }
    .main-section p {
      font-size: 1.2rem;
      color: #6c757d;
    }
    .formGroup {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    .formGroup input {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ced4da;
      border-radius: 5px 0 0 5px;
      outline: none;
    }
    .formGroup button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .formGroup button:hover {
      background-color: #0056b3;
    }
    .recipe-page {
      padding: 2rem;
    }
    .recipePage-btn {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
    .recipePage-btn__link {
      padding: 0.5rem 1rem;
      background-color: #28a745;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    .recipePage-btn__link:hover {
      background-color: #218838;
    }
    .cardContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
    }
    .cardContainer__body {
      background-color: var(--bgc-bullet);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.2s;
    }
    .cardContainer__body:hover {
      transform: translateY(-10px);
    }
    .cardImage_box {
      width: 100%;
      height: 250px;
      overflow: hidden;
    }
    .cardImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .cardContent_box {
      padding: 1rem;
    }
    .cardBtn {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
    .cardBtn__link:first-child {
      background-color: #ff4f87;
    }
    .cardBtn__link:last-child {
      background-color: #28a745;
    }
    .cardBtn__link {
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s, transform 0.3s;
    }
    .cardBtn__link:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }
    .title-box {
      padding: 1rem;
      background-color: #f8f9fa;
      border-bottom: 1px solid #ced4da;
    }
    .title {
      font-size: 1.2rem;
      color: #343a40;
      margin: 0;
      text-align: center;
      font-weight: bold;
      font-family: 'roboto', sans-serif;
    }
    h1 {
      font-size: 2.5rem;
      color: white;
      text-align: center;
      margin-bottom: 1rem;
      font-family: 'roboto', sans-serif;
    }
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: #28a745;
      color: #fff;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
    @media (max-width: 1200px) {
      .cardContainer {
        justify-content: space-around;
      }
    }
    @media (max-width: 992px) {
      .navbar .menu {
        display: none;
      }
      .navbar .menu-icon {
        display: block;
      }
      .cardContainer {
        justify-content: center;
      }
    }
    @media (max-width: 768px) {
      .cardContainer {
        grid-template-columns: 1fr;
      }
      .cardContainer__body {
        width: 100%;
      }
      .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
      }
      .menu-icon {
        display: block;
        margin-right: 20px;
      }
      .formGroup {
        flex-direction: column;
      }
      .formGroup input, .formGroup button {
        width: 100%;
        margin: 0.5rem 0;
      }
      .cardImage_box {
        height: 0;
        padding-top: 100%; /* Maintain aspect ratio */
        position: relative;
      }
      .cardImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (max-width: 576px) {
      .navbar {
        flex-direction: column;
      }
      .navbar .logo {
        margin-bottom: 1rem;
      }
      .main-section {
        padding: 1rem;
      }
      .cardContainer {
        flex-direction: column;
        align-items: center;
      }
      .cardImage_box {
        height: 0;
        padding-top: 100%; /* Maintain aspect ratio */
        position: relative;
      }
      .cardImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }