block content
  link(rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css")
  link(rel="stylesheet" href="/stylesheets/tablet.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")
  script(src="/js/table.js") // Update the path as needed
  
  .container
    h1 Sub Files
    .btn-box
      .goback-button
        a.btn.btn-primary.girly-button(href='/') Go Back
      .goback-button
        a.btn.btn-primary.girly-button(href='/file/create') Create File

    table#financeTable.table.table-striped
      thead
        tr
          th File Name
          th Last Payment Date
          th Last Payment Amount
          th Next Payment Date
          th Payment Frequency
          th Actions

      tbody
        each file, i in files
          tr
            td= file.title
            td= file.payments.length > 0 ? file.payments[0].date : 'N/A'
            td= file.payments.length > 0 ? file.payments[0].payment : 'N/A'
            td= file.nextDate ? file.nextDate : 'N/A'
            td= file.paymentFrequency ? file.paymentFrequency : 'N/A'
            td.actions
              a.btn.btn-primary(href=`/file/subfiles/${file._id}`)
                i.fas.fa-eye.icon.view 
                |  View
              a.btn.btn-primary(href=`/file/subfiles/${file._id}`)
                i.fas.fa-edit.icon.edit
                |  Edit
              a.btn.btn-primary(href=`/file/subfiles/${file._id}`)
                i.fas.fa-trash.icon.delete
                |  Delete