extends layout

block content
  
  table
    thead
      tr
        th Title
        th Last Payment Date
        th Amount
        th Next Payment Date
        th Actions
    tbody
      each file in files
        tr
          td= file.title
          td= file.lastPaymentDate
          td= file.amount
          td= file.nextPaymentDate
          td
            button(onclick=`openFile('${file.id}')`) Open
  style.
    table {
      width: 100%;
      background-color: white;
      margin-top: 4rem;
    }
    th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }